@media (min-width: 1280px)
.container {
    max-width: 1280px;
}
@media (min-width: 1024px)
.container {
    max-width: 1024px;
}
@media (min-width: 768px)
.container {
    max-width: 768px;
}

@media (min-width: 640px)
.container {
    max-width: 640px;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.hero {
    display: flex;
    background: url('./components/shared/hero.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 250px;
}

.hero h1 {
    font-family: Nunito Sans;
    color: var(--text)
}

.hero__menu {
    position: absolute;
    display: flex;
    justify-content: center;
    padding-left: 14px;
    padding-bottom: 14px;;
    top: 0;
    right: 0;
    height: 4rem;
    width: 4rem;
    background-color: rgba(0, 0, 0, 0.90);
    border-radius: 0 0 0 100%;
}

.sec-1 {
    background-color: var(--neutral-900);
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: var(--text);
}

.sec-1__content {
    display: flex;
    gap: 3rem;
}

.sec-1__text {
    width: 100%;
}

.sec-1__img{
    width: 100%;
}