@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

:root {
    --text: #FAFAF9;

    /* font-size */
    --h1: 4.5rem;
    --h2: 3.75rem;
    --h3: 3rem;
    --h4: 2.25rem;
    --h5: 1.875rem;
    --subtitle: 1.5rem;
    --subtitle2: 1.25rem;
    --base: 1rem;
    --sm: 0.875rem;

    /* colors */
    --neutral-900: #1C1917;

}